:root {
    --couleur-primaire : #6C5353;
}

nav ul::before {
  content: "A u t o n o m i e ☀ S a n t é";
color: #fcfefd; font-size: 60px;
}

footer, .skip-links{
    display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6C5353;
  color: #6C5353;
  text-align: center;
}

