:root {
    --couleur-primaire : #6C5353;
}

nav ul::before {
  content: "A u t o n o m i e ☀ S a n t é";
color: #fcfefd; font-size: 60px;
}

footer {
content: "Claire Bourland Praticienne de Santé Naturopathe Les Jardins de Houëlbourg 97122 Baie Mahault - 0690 597 609"
}