:root {
    --couleur-primaire : #6C5353;
}

header div.container {
  background-image: url(https://github.com/Boptimiste/autonomiesante/blob/main/images/logo_claire.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

@media only screen and (max-width:430px) {
  header div.container{
      background-size: 40%; }
}